:host {
    .container-aside {
        background-color: #4c52d9;
    }


    table {
        th {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.75rem;
            color: #4b5563;
        }
    }

}